* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-drag: none;
}

body {
  overflow: hidden;
  background-color: #131314;
  color: white;
  /* border: 2px solid yellow; */
  height: 100vh;
}

.hidden-section {
  display: none !important;
}
