:root {
  --hud-border: hsl(251, 64%, 42%);
  --hud-background: hsla(251, 64%, 42%, 0.3);
  --hud-shadow: hsl(251, 56%, 33%);
}
#game #airplane,
#garbageCollector .bullets > *,
#garbageCollector .asteroids > *,
#garbageCollector .power-ups > *,
#garbageCollector .rockets > *,
#garbageCollector .coins > * {
  position: absolute;
}

/* --- HUD (bottom-left) --- */
#hud {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 1.25em;
  padding: 0.6em 2em 0.35em 1em;
  backdrop-filter: blur(2px);
  background-color: var(--hud-background);
  border-style: solid;
  border-width: 5px 5px 0 0;
  border-color: var(--hud-border);
  border-radius: 0 3em 0 0;
  box-shadow: 0px 0px 20px var(--hud-shadow);
}

#hud .content {
  display: flex;
  align-items: center;
  column-gap: 1.5em;
}

#hud .content > div {
  display: flex;
  align-items: flex-end;
  font-size: 1.1em;
}

/* --- Energy Panel (top-left) --- */
#energyPanel {
  overflow: hidden;
  background-color: var(--hud-background);
  backdrop-filter: blur(2px);
  width: 370px;
  border-style: solid;
  border-color: var(--hud-border);
  border-width: 0 5px 5px 0;
  border-radius: 0 0 3em 0;
  box-shadow: 1px 1px 15px var(--hud-shadow);
}
#energyPanel > .content {
  display: flex;
  align-items: center;
}
#energyPanel .score {
  font-size: 1.5em;
  padding-left: 8px;
  padding-right: 3px;
  letter-spacing: 5px;
}
#energyPanel .energyBars {
  list-style: none;
}
#energyPanel .energyBars li {
  overflow: hidden;
  width: 320px;
  height: 7px;
  border-style: solid;
  border-color: var(--hud-shadow);
  border-width: 1px 1px 1px 0;
}

/* --- Fill energy bars --- */

#energyPanel .energyBars .bar:nth-child(1) .fill-percent {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to right, lightblue, orange, red);
  will-change: transform;
}
#energyPanel .energyBars .bar:nth-child(2) .fill-percent {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to right, lightblue, orange, red);
  will-change: transform;
}
#energyPanel .energyBars .bar:nth-child(3) .fill-percent {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to right, lightblue, orange, red);
  will-change: transform;
}
#energyPanel .energyBars .bar:nth-child(4) .fill-percent {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to right, lightblue, orange, red);
  will-change: transform;
}
#energyPanel .energyBars .bar:nth-child(5) .fill-percent {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to right, lightblue, orange, red);
  will-change: transform;
}

#energyPanel .energyBars .fill-percent {
  transform: translateX(-100%);
  opacity: 80%;
}
/* --- Utility Classes --- */
