#menu {
  border: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* parent - body */
}
#title {
  font-size: 3em;
}
#menu > .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2em;
}
#menu .content .buttons {
  display: flex;
  flex-direction: column;
  row-gap: 1.2em;
  margin-top: 4em;
}
#menu .content .buttons button {
  width: 260px;
  padding: 12px 24px;
  font-size: 1em;
  border: 2px solid white;
  border-radius: 50px;
  background-color: transparent;
  color: white;
  transition: all 0.15s ease;
  cursor: pointer;
}
#menu .content .buttons button:hover {
  background-color: white;
  color: black;
}

/* ----- Aside Inventory ----- */
#inventory {
  position: absolute;
  top: 0;
  left: 0;
  background-color: hsla(240, 21%, 28%, 0.281);
  box-shadow: 1px 0 70px rgb(63, 68, 109);
  backdrop-filter: blur(4px);
  width: 500px;
  height: 100%; /* parent - #menu */
  transform: translateX(calc(-100% + 70px));
  transition: all 0.35s ease;
}
#inventory:hover {
  transform: translateX(0);
}
#inventory .header {
  text-align: center;
  padding: 1.5em 0 2em 0;
  font-size: 1.4em;
}
#inventory > .content {
  width: calc(100% - 70px);
  height: 100%; /* parent - #inventory */
  font-size: 1.1em;
  position: relative;
}
#inventory > .content > *:not(:first-child) {
  margin-bottom: 5em;
}
#inventory .inventory-ships .gallery img:not(:first-of-type),
#inventory .inventory-backgrounds .gallery img:not(:first-of-type) {
  display: none;
}
#inventory .gallery img {
  object-fit: cover;
  aspect-ratio: 4 / 3;
  border-radius: 40%;
}
#inventory .inventory-ships,
#inventory .inventory-backgrounds {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1em;
}
#inventory .inventory-ships .gallery,
#inventory .inventory-backgrounds .gallery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1em;
  width: 90%;
  height: 100px;
}
#inventory .images {
  border-radius: 18px;
}
#inventory button {
  background-color: transparent;
  color: white;
  border: none;
  transition: filter 0.15s ease;
  cursor: pointer;
}
#inventory button:hover {
  filter: drop-shadow(0 0 8px hsl(229, 24%, 58%));
}
#inventory button:active {
  transform: translate(1px, 1px) scale(0.95);
}
#inventory .stats {
  padding-left: 1.5em;
  font-size: 1.15em;
}
#inventory .coins {
  padding-left: 1.5em;
  display: flex;
  align-items: center;
  column-gap: 2px;
}
